.header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0em 4em;
  background-color: var(--element);
}
.header-mode {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 0.5em;
}
.header-mode:hover {
  cursor: pointer;
}
.header-mode-text {
  margin-left: 0.4em;
}
.header-strong {
  font-size: 1.7em;
}

@media screen and (max-width: 632px) {
  .header-wrapper {
    font-size: 0.7rem;
    padding: 0em 1em;
  }
  .header-mode {
    padding-top: 2.5em;
    padding-bottom: 2em;
  }
}
